* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: none;
    padding: 10px 25px;
}


.header-section {
    background-color: rgba(229, 84, 115, 0.10);
    height: 93vh;
}

.header-container{
    display: flex;
    margin: auto;
    /* align-items: center; */
   
}

.header-title {
    color: #272727;
    font-size: 48px;
    padding-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 90%;
    padding-bottom: 30px;
}

.header-image-container {
   margin-bottom: 100px;
}