* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: none;
    padding: 10px 25px;
}

/* header section start from here */
.header-section {
    background-color: rgba(229, 84, 115, 0.10);
    height: 93vh;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 127px;
    justify-content: space-between;
}

.header-title {
    color: #272727;
    font-size: 48px;
    padding-bottom: 20px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.header-title-container {

    padding-left: 160px;
    padding-top: 160px;
}

.header-image-container {
    margin-bottom: -110px;
    margin-right: 160px;
}

/* featured option start from here */
.featured-title {
    text-align: center;
    width: 500px;
    margin: auto;
    
}

.featured {
    color: black;
    text-align: center;
    font-size: 28px;
    margin-top: 125px;
    font-weight: bold;
    padding-bottom: 20px;
}

.freatured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
}

.featured-facilities-section{
    padding:0px 140px;
}

.featured-image-container{
    text-align: center;
}
.featured-container{
 padding: 30px ;
    display: flex;
    gap: 20px;
    
}

.featured-image{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 300px;
height: 340px;
}

.flower-one{
    width:210px;
    margin-top: 50px; 
    margin-left: 8px;
}

.flower-two{
    width: 250px;
    padding-left: 35px;
    padding-top: 64px;
}

.flower-three{
    width: 215px;
    padding-left: 35px;
    padding-top: 17px;
}

.tree-name-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
}
/*  */
  