* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color:#272727;
}

/* header section start from here */
.header-section {
    background-color: rgba(229, 84, 115, 0.10);
    height: 93vh;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 127px;
    justify-content: space-between;
}

.header-title {
    color: #272727;
    font-size: 48px;
    padding-bottom: 20px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.header-title-container {

    padding-left: 160px;
    padding-top: 160px;
}

.header-image-container {
    margin-bottom: -165px;
    margin-right: 160px;
}

/* featured option start from here */
.featured-title {
    text-align: center;
    width: 500px;
    margin: auto;

}

.featured {
    color: black;
    text-align: center;
    font-size: 28px;
    margin-top: 125px;
    font-weight: bold;
    padding-bottom: 20px;
}

.freatured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
}

.featured-section {
    padding: 0px 140px;
}

.featured-image-container {
    text-align: center;
}

.featured-container {
    padding: 30px;
    display: flex;
    gap: 20px;

}

.featured-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 340px;
}

.flower-one {
    width: 210px;
    margin-top: 50px;
    margin-left: 8px;
}

.flower-two {
    width: 250px;
    padding-left: 35px;
    padding-top: 64px;
}

.flower-three {
    width: 215px;
    padding-left: 35px;
    padding-top: 17px;
}

.tree-name-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: underline;
}

/* facilities section start from here */
.facilities-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 300px;
    margin-top: 100px;
    margin-left: 170px;
    margin-right: 240px;
}

.facilities-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 85px;
}



/* hot deal section start from here */
.hot-deal-section {
    margin-top: 120px;
    width: 100%;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 480px;
}

.hot-deal-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

}

.hot-deal-title {
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    padding-bottom: 15px;
    margin-top: 180px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    padding-left: 55px;
    padding-bottom: 20px;
}

.btn-hot-deal {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: none;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    /* margin-left: 100px; */
}

.btn-hot-deal:hover{
    background-color:#272727;
}

.hot-deal-title-container {
    margin-left: 120px;
    text-align: center;
}

.hot-deal-image {
    width: 200px;
    margin-top: 115px;
    margin-left: -280px;
}

/* social media section start from here */

.social-media-titile-container {
    margin-top: 120px;
    text-align: center;
    align-items: center;
    margin-left: 13px;
}

.social-media-name {
    color: #070707;
    text-align: center;
    font-size: 33px;
    padding-bottom: 20px;
}

.social-media-title {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    width: 500px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 410px;
    padding-bottom: 42px;

}

.social-media-boxes-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 120px;
}

.social-media-flower-img {
    width: 254px;
}

/* boxes section start from here */

.box-title{
    color: #272727;
font-family: Lato;
font-size: 26px;
padding-bottom: 15px;
}

.box-description{
   width: 190px;
   color: #757575;
    font-size: 17px;
}

.boxes {
    max-width: 190px;
    height: 350px;
    background-color: white;
    padding-left: 30px;
    /* padding-top: 30px; */
    padding-right: 25px;
    padding-bottom: 10px;
    box-shadow: 0px 6px 100px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.box-container{
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 80px;
  padding-right: 140px;
}


/* latest deal sectiom start from here */
.latest-deal-title {
    margin-top: 100px;
    text-align: center;
}

.input-container>input {
    /* text-align: center; */
}

.latest-deal-section {
    padding-top: 10px;
    text-align: center;
    margin: 0px 145px;
    height: 350px;
    background-image: url(../Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.latest-deal {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 8px;
}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
}

.input-container .email {
    width: 450px;
    padding: 15px 0px;
    padding-left: 20px;
    border: none;
}

.input-container {
    display: flex;
    gap: 12px;
    padding-left: 230px;
}

/* footer section start from here */
.footer-section-container {
    margin-top: 100px;
    text-align: center;
    background-color: #111010;
    height: 48vh;
}

.footer-section{
    padding-top: 90px;
}

.footer-title {
    color: white;
    font-family: Lato;
    font-size: 40px;
    padding-bottom: 20px;
}

.footer-title>span {
    color: #E55473;
}

.hr-container{
    width: 50%;
    margin: auto;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    width: 550px;
    padding-left: 400px;
    padding-bottom: 8px;
}

.social-accounts-link{
    padding-bottom: 11px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    padding-top: 7px;
}

